body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game-container {
    margin-top: 50px;
}

#guess-input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#guess-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.auth-container {
    text-align: center;
    margin-top: 50px;
}

.auth-form {
    margin-bottom: 30px;
}

.auth-form input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#register-message,
#login-message {
    margin-top: 10px;
    color: red;
}
